Задание 44 
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [10]:
import pandas as pd 
import numpy as np 
import random
 
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  human

1 способ решения

In [11]:
data.loc[data['whoAmI'] == 'robot', 'robot'] = '1' 
data.loc[data['whoAmI'] == 'human', 'human'] = '1'
data.head()

  whoAmI robot human
0  robot     1   NaN
1  robot     1   NaN
2  human   NaN     1
3  human   NaN     1
4  human   NaN     1

2 способ решения методом pd.get_dummies

In [18]:
pd.get_dummies (data['whoAmI'])

    human  robot
0   False   True
1   False   True
2    True  False
3    True  False
4   False   True
5   False   True
6   False   True
7    True  False
8    True  False
9    True  False
10   True  False
11   True  False
12   True  False
13  False   True
14  False   True
15  False   True
16   True  False
17  False   True
18   True  False
19  False   True

In [20]:
pd.get_dummies (data, columns=['whoAmI'], drop_first= False)

    whoAmI_human  whoAmI_robot
0          False          True
1          False          True
2           True         False
3           True         False
4          False          True
5          False          True
6          False          True
7           True         False
8           True         False
9           True         False
10          True         False
11          True         False
12          True         False
13         False          True
14         False          True
15         False          True
16          True         False
17         False          True
18          True         False
19         False          True